body{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

#map{
  box-shadow: 0 1px 2px 1px rgba(0,0,0,.1);
}

.prompt-wrapper{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.2);
  display: none;
}

.prompt{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 20px;
  background-color: white;
}

button {
  padding: 15px 20px 15px 20px;
  border: none;
  border-radius: 10px;
  background-color: #1A73E8;
  /*background: linear-gradient(180deg, rgba(51,134,175,1) 0%, rgba(51,134,175,0.95) 59%, rgba(51,134,175,0.85) 88%, rgba(51,134,175,0.70) 100%);*/
  transition: all .3s;
  cursor: pointer;
  color: white;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

button:hover {
  box-shadow: 0 1px 7px 2px rgba(71, 189, 250, .5);
}

button:focus {
  box-shadow: 0 1px 7px 2px rgba(71, 189, 250, .5);
  outline: none;
}

button:active{
  box-shadow: 0 1px 2px 1px rgba(71, 189, 250, .6);
}