body{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

#map{
  box-shadow: 0 1px 2px 1px rgba(0,0,0,.1);
}

.prompt-wrapper{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.2);
  display: none;
}

.prompt{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 20px;
  background-color: white;
}

button {
  padding: 15px 20px 15px 20px;
  border: none;
  border-radius: 10px;
  background-color: #D6D6D6;
  border: solid 1px #D6D6D6;
  color: #222222;
  /*background: linear-gradient(180deg, rgba(51,134,175,1) 0%, rgba(51,134,175,0.95) 59%, rgba(51,134,175,0.85) 88%, rgba(51,134,175,0.70) 100%);*/
  transition: all .3s;
  cursor: pointer;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin: 5px;
}

button:hover {
  outline: none;
  border: solid 1px #0070C9;
  box-shadow: 0 0 1px 4px rgba(0, 111, 201, 0.363);
}

button:focus {
  outline: none;
  border: solid 1px #0070C9;
  box-shadow: 0 0 1px 4px rgba(0, 111, 201, 0.363);
}

button:active{
  outline: none;
  border: solid 1px #0070C9;
  box-shadow: 0 0 1px 4px rgba(0, 111, 201, 0.363);
}

input, textarea{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 10px;
  border-radius: 8px;
  border: solid 1px #D6D6D6;
  font-size: 17px;
  transition: all .1s;
  margin: 5px;
}
input:focus, textarea:focus{
  outline: none;
  border: solid 1px #0070C9;
  box-shadow: 0 0 1px 4px rgba(0, 111, 201, 0.363);
}

.verticalLines {
  border-left: 2px solid #bbb;
  margin: 2px;
}

.primary {
  background-color: #1A73E8;
  border: solid 1px #0070C9;
  color: white;
}

.danger {
  background-color: red;
  border: solid 1px #f73434;
  color: white;
}

input[type=range] {
  -webkit-appearance: none;
  background-color: #D6D6D6;
  width: 200px;
  height:20px;
  transform: translateY(14px)
}

input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none;
  background-color: #666;
  opacity: 0.5;
  width: 10px;
  height: 26px;
  border-radius: 4px;
}

input[type="range"]:active {
  background-color: white;
}

.info-box {
  position: fixed;
  left: 30px;
  top: 50%;
  width: 250px;

  transform: translateY(-85%);
  background-color: #EEE;
  padding: 20px;
  box-shadow: 0 1px 2px 1px rgba(0,0,0,.1);
}

.info-box ul {
  text-align: left;
}

.properties-table {
  margin: auto;
  border-collapse: collapse;
}

.properties-table td, .properties-table th{
  border-bottom: 1px solid #bbb;
  padding: 8px;
}